.sofa_section{
    margin-top: 50px;
}

.sofa_title{
    font-size: 32px;
   font-weight: 500;
   margin-left: 20px;
}

.filtres{
    background-color: #ffffff;
    padding: 10px 60px;
    border: 1px solid #000000;
    transition: 0.4s;
    border-radius: 3px;
    color: #000000;
    font-weight: 500;
    margin-top: 40px;
    margin-left: 20px;
}

.filtres:hover{
    background-color: #000000;
    transition: 0.4s;
    color: #ffffff;
}

.filtres img{
    margin-right: 6px;
    margin-bottom: 3px;
}

.sofa_section .container{
    margin-top: 30px;
}

.sofa_section .row{
    margin: 30px;
}

.sofa_item{
    text-decoration: none;
    color: black;
    text-align: center;
}

.sofa_item_img{
    max-width: 310px;
    min-height: 310px;
}


.sofa_item:hover{
    color: black;
}

.sofa_item_pretitle{
    font-size: 10px;
}

.sofa_item_title{
    font-size: 20px;
    font-weight: 500;
}

.sofa_item_cost{
    font-size: 20px;
    font-weight: 700;
}