@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/OpenSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: "Open Sans";
    src: url('/assets/fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} 


body{
    margin: 0;
    font-weight: 500;
    font-family: "Open Sans";
    position: relative;
	overflow-x: hidden;
}

.header{
    background-color: #000;
    background-size: 100%;
    padding: 16px;
    width: auto;
}

.info{
    display: flex;
    justify-content: center;
}



.info__cont{
    display: flex;
    justify-content: space-between;
}

.info__ul{
    display: flex;
    max-width: 100%;
}

.info__item{
    margin-left: 28px;
    color: #fff;
    list-style-type: none;
}

.info__item a{
    text-decoration: none;
    color: #fff;
}

.nav__cont{
    display: flex;
    justify-content: center;
}

.nav__info{
    display: flex;
}

.nav__item{
    color: #fff;
    list-style-type: none;
    margin-left: 28px;
}

.nav__item a{
    text-decoration: none;
    color: #fff;
}

.nav__item a:hover{
    color: #ffee00;
    transition: 0.5s;
}

.title{
    
}

.title_info{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 163px;
   max-width: 1920px;
   background-image: url("../img/back__title.png");
   background-position: top center;
	
}

.title_txt{
    font-family: "Open Sans";
    font-weight: 700;
    color: #fff;
}